.form{
    background-color: hsl(226, 29%, 17%);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 25px;
    border-radius: 20px;
    
}


.wrapper{
    width: 30%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 70px;
    
}

#email, #password, #rpassword , #email2, #password2{
    width: 80%;
    outline: none;
    color:hsl(222, 26%, 75%);
    border: none;
    border-bottom: 1px solid hsl(221, 32%, 58%);
    padding: 10px;
    background-color:hsl(226, 29%, 17%);

}

.alert{
    color: white;
    font-size: 12px;
    display: none;

}

#btn1, #btn2{
    background-color: rgb(250, 76, 76);
    width: 80%;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    margin: auto;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
 

}

.fs{
    color: white;
    font-size: 13px;
}

.red{
    color: red;
    font-size: 13px;
}

.log{
    color: white;
   
}


@media screen and (max-width:900px) {
    

    
.wrapper{
    width: 76%;
   
    
}
}